body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fullWidth {
  height: 80vh;
  overflow-y: scroll;
}

.mainTitle{
  text-shadow: rgb(253,212,166) 1px 0 10px;
  font-weight:bolder;
  color:rgb(40,68,79);
  text-transform: uppercase;
}
